{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Horizons</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178114085-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178114085-1');
    </script>
    {% block cssPackage %}
    {% endblock %}

</head>
<body class="{% block bodyClass %}{% endblock %}">

{% block content %}
{% endblock %}

{% block js %}
{% endblock %}

</body>

</html>
