{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <body class="home-body" id="homeBody">
        
        <!-- start post content section --> 
        <section class="blog-styling">
            <div class="container">
                <div class="row flex-lg-row-reverse">                   
                    <main class="col-12 col-lg-9 left-sidebar md-margin-60px-bottom sm-margin-40px-bottom pr-0 md-no-padding-left">
                        <!-- start post item --> 
                        {% for news in news_list %}
                        <div class="col-12 blog-post-content margin-60px-bottom sm-margin-30px-bottom text-center text-md-left">
                            <div class="blog-image"><a href="{% url 'blog' slug=news.slug %}"><img src="{{news.pic.url}}" alt=""/></a></div>
                            <div class="blog-text border-all d-inline-block width-100">
                                <div class="content padding-50px-all sm-padding-20px-all">                           
                                    {% if 'mn' in LANGUAGE_CODE %}
                                    <div class="text-medium-gray text-extra-small margin-5px-bottom text-uppercase alt-font"><span>{{news.published_date}}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span><a class="text-medium-gray ">{{news.category}}</a></span></div>
                                    <a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray text-uppercase alt-font text-large font-weight-600 margin-15px-bottom d-block">{{ news.title }}</a>
                                    {% else %}
                                    <div class="text-medium-gray text-extra-small margin-5px-bottom text-uppercase alt-font"><span>{{news.published_date}}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span><a class="text-medium-gray ">{{news.category_eng}}</a></span></div>
                                    <a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray text-uppercase alt-font text-large font-weight-600 margin-15px-bottom d-block">{{ news.title_eng }}</a>
                                    {% endif %}      
                                    <a href="{% url 'blog' slug=news.slug %}"><p class="m-0">{% trans "Цааш унших..." %}</p></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end post item -->  
                        <!-- start pagination -->
                        <div class="col-12 text-center margin-100px-top md-margin-50px-top wow fadeInUp">

                            <div class="pagination text-small text-uppercase text-extra-dark-gray">
                                <ul class="mx-auto">
                                    {% if news_list.has_previous %}
                                    <li><a href="?page={{ news_list.previous_page_number }}"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Өмнөх</a></li>
                                    {% else %}
                                    <li><a><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> {% trans "Өмнөх" %}</a></li>
                                    {% endif %}
                                    {% for n in news_list.paginator.page_range %}
                                        {% if news_list.number == n %}
                                        <li class="active"><a>{{n}}</a></li> 
                                        {% elif n > news_list.number|add:'-3' and n < news_list.number|add:'3' %} 
                                            <li><a href="?page={{n}}">{{n}}</a></li>                    
                                        {% endif %}
                                    {% endfor %}
                                    {% if news_list.has_next %}
                                    <li><a href="?page={{news_list.next_page_number}}">{% trans "Дараах" %} <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                                    {% else %}
                                    <li><a>{% trans "Дараах" %} <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            
                        </div>
                        <!-- end pagination -->
                    </main>
                    <aside class="col-12 col-lg-3">
                        <!-- <div class="d-inline-block width-100 margin-45px-bottom sm-margin-25px-bottom">
                            <form>
                                <div class="position-relative">
                                    <input type="text" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Хайх үгээ бичнэ үү...">
                                    <button type="submit" class="bg-transparent btn position-absolute right-0 top-1"><i class="fas fa-search no-margin-left"></i></button>
                                </div>   
                            </form>
                        </div> -->

                        <div class="margin-50px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Биднийг дагаарай" %}</span></div>
                            <div class="social-icon-style-1 text-center">
                                <ul class="extra-small-icon">
                                    <li><a class="facebook" href="{{ global_settings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="{{ global_settings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="google" href="{{ global_settings.instagram }}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <!-- <li><a class="dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a class="linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Мэдээний төрөл" %}</span></div>
                            <ul class="list-style-6 margin-50px-bottom text-small">
                                {% for category in categories %}
                                    {% if category.cat_id is none and 'mn' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is none and 'en' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' %}">{{ category.category_eng }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is not none and 'en' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' cat_id=category.cat_id %}">{{ category.category_eng }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is not none and 'mn' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' cat_id=category.cat_id %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>   
                        </div>
                       
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Онцлох мэдээ</span></div>
                            <ul class="latest-post position-relative">
                                {% for news in featured_news %}
                                <li class="media">
                                    <figure>
                                        <a href="{% url 'blog' slug=news.slug %}"><img src="{{ news.pic.url }}" alt=""></a>
                                    </figure>
                                    {% if 'mn' in LANGUAGE_CODE %}
                                    <div class="media-body text-small"><a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">{{ news.title }}</span></a> <span class="d-block text-medium-gray text-small">{{ news.published_date}}</span></div>
                                    {% else %}
                                    <div class="media-body text-small"><a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">{{ news.title_eng }}</span></a> <span class="d-block text-medium-gray text-small">{{ news.published_date}}</span></div>
                                    {% endif %}            
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
<!--                        
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Архив</span></div>
                            <ul class="list-style-6 margin-20px-bottom text-small">
                                <li><a href="#">2-р сарын 17, 2018</a><span>12</span></li>
                                <li><a href="#">2-р сарын 17, 2018</a><span>05</span></li>
                                <li><a href="#">2-р сарын 17, 2018</a><span>08</span></li>
                              
                            </ul>   
                        </div> -->
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Мэдээлэл авах" %}</span></div>
                            <div class="d-inline-block width-100">
                                <!-- <form>
                                    <div class="position-relative">
                                        <input type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Мэйл хаягаа оруулна уу...">
                                        <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope no-margin-left"></i></button>
                                    </div>   
                                </form> -->
                                <a href="{{ pdf_url }}">{% trans "Брошур авах" %}</a>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </section>
        <!-- end blog content section -->  
    </body>
{% endblock %}