{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block cssPackage %}
<link rel="stylesheet" href="{% static 'swiperjs.css' %}">

<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'js_libraries/fontawesome.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js_libraries/jquery.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style type="text/css" media="screen">
.home-body .home-desktop-header .header-inner{
  background: black !important;
}   
#desktopHeader {
    background-color: black !important;
}
.mobile-header .menu-container {
    color: black !important;
}
</style>
{% endblock %}
{% block bodyClass %} home-body homeBody {% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% block content %}
    <header class="home-desktop-header" id="desktopHeader">
        <div class="header-inner" style="background-color: black;">
            <div class="__left">
                <div class="desktop-logo-container">
                    <a href="/"><img src="{{ global_settings.logo.url }}" alt="logo"></a>
                </div>
                <nav class="desktop-nav">

                    <li><a href="{% url 'home' %}#buildingFeature">{% trans "Давуу тал" %}</a></li>

                    <li><a href="{% url 'home' %}#miniBlog">{% trans "Сүүлийн үеийн мэдээ" %}</a></li>

                    <li><a href="{% url 'home' %}#buildingIntro">{% trans "танилцуулга" %}</a></li>

                    <li><a href="{% url 'home' %}#service">{% trans "үйлчилгээ" %}</a></li>

                    <li><a href="{% url 'home' %}#floorInfo">{% trans "давхарийн мэдээлэл" %}</a></li>

                    <li><a href="{% url 'home' %}#sevenReason">{% trans "Давуу тал" %}</a></li>
                            
                    <li><a href="{% url 'home' %}#panaromaSection">{% trans "360 зураг" %}</a></li>

                    <li><a href="{% url 'home' %}#nearbyPlaces">{% trans "Ойр хавийн барилгууд" %}</a></li>

                </nav>
            </div>
            <div class="__mid" onclick="showContactUsForm()">
                <a href="#">Бидэнтэй харилцах</a>
            </div>
            <div class="__right">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}

                    {% get_language_info_list for LANGUAGES as languages %}

                    {% if 'mn' in LANGUAGE_CODE %}
                    {{ LANGUAGE_CODE }}
                    {% endif %}
                    {% for lan in languages %}
                    <div class="select-language"><a class='hrefer' onclick="splitter('{{lan.code}}')">{{ lan.name_local }}</a></div>
                    {% endfor %}
            </div>
        </div>
        
    </header>
    <header class="mobile-header">
        <div class="side-nav">
            <div onclick="showMobileNav()" class="menu-container">
                <i class="fas fa-bars menu-icon" id="mobileBarsIcon"></i>
            </div>
            <nav id="mobileNav" onclick="showMobileNav()">
                <img src="{{ global_setings.logo.url }}" alt="logo">

                <div class="contactUsAnchor"><a href="{% url 'home' %}#contactUsFooter">Бидэнтэй холбогдох</a></div>

                <li><a href="{% url 'home' %}#home">нүүр</a></li>

                <li><a href="{% url 'home' %}#miniBlog">Сүүлийн үеийн мэдээ</a></li>

                <li><a href="{% url 'home' %}#buildingIntro">танилцуулга</a></li>

                <li><a href="{% url 'home' %}#service">үйлчилгээ</a></li>

                <li><a href="{% url 'home' %}#floorInfo">давхарийн мэдээлэл</a></li>

                <li><a href="{% url 'home' %}#sevenReason">7 шалтгаан</a></li>

                <li><a href="{% url 'home' %}#panaromaSection">360 зураг</a></li>

                <li><a href="{% url 'home' %}#nearbyPlaces">Ойр хавийн барилгууд</a></li>
                <div class="__right">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}

                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for lan in languages %}
                    <a class='hrefer' onclick="splitter('{{lan.code}}')">{{ lan.name_local }}</a>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </header>
    <body class="home-body" id="homeBody">
        <!-- start post content section --> 
        <section class="blog-styling">
            <div class="container">
                <div class="row">
                    <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">

                        {% if 'mn' in LANGUAGE_CODE %}
                        <h1>{{ news.title }}</h1>
                        <p>{{ news.content | safe }}</p>
                        {% else %}
                        <h1>{{ news.title_eng }}</h1>
                        <p>{{ news.content_eng | safe }}</p>
                        {% endif %}            
                        <div class="col-12 margin-seven-bottom margin-eight-top">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-12 col-lg-6 text-center text-lg-left">
                                <div class="tag-cloud margin-20px-bottom">     
                                {% if 'mn' in LANGUAGE_CODE %}
                                <a href="{% url 'news' cat_id=news.category.id %}">{{ news.category }}</a>
                                {% else %}
                                <a href="{% url 'news' cat_id=news.category.id %}">{{ news.category.name_eng }}</a>
                                {% endif %}            
                                <!-- <a href="blog-grid.html">сонин хачин</a> -->
                                  
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 text-center text-lg-right">
                                <div class="social-icon-style-6">
                                    <ul class="extra-small-icon">
                                        <!-- <li><a class="likes-count" href="#" target="_blank"><i class="fas fa-heart text-deep-pink"></i><span class="text-small">300</span></a></li> -->
                                        <li><a class="facebook" href="{{ global_settings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="twitter" href="{{ global_settings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="google" href="{{ global_settings.instagram }}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                        <!-- <li><a class="pinterest" href="http://dribbble.com" target="_blank"><i class="fab fa-pinterest-p"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
  
                        <div class="col-12 d-flex flex-wrap p-0">
                            <div class="col-12 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">{% trans "Холбоотой мэдээлэл" %}</span>
                                </div>
                            </div>
                            <!-- start post item  -->
                            {% for news in news_related %}
                            <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin md-margin-50px-bottom sm-margin-30px-bottom wow fadeIn">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="{% url 'blog' slug=news.slug %}">
                                            <img src="{{ news.pic.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">{{ news.published_date }}</span>
                                        {% if 'mn' in LANGUAGE_CODE %}
                                        <a href="{% url 'blog' slug=news.slug %}" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">{{news.title}}</a>
                                        {% else %}
                                        <a href="{% url 'blog' slug=news.slug %}" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">{{news.title_eng}}</a>
                                        {% endif %}       
                                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end post item -->
                           
                        </div>
                        <!-- <div class="col-12 margin-eight-top">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div> -->
                        <!-- <div class="col-12 blog-details-comments">
                            <div class="width-100 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">10 сэтгэгдэл</span>
                                </div>
                            </div>
                            <ul class="blog-comment">
                                <li>
                                    <div class="d-block d-md-flex  width-100">
                                        <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                            <img src="http://placehold.it/149x149" class="rounded-circle width-85 sm-width-100" alt=""/>
                                        </div>
                                        <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                            <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Herman Miller</a>
                                            <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Хариулах</a>
                                            <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">2020, ОНЫ 7 САРЫН 17 , 6:05 PM</div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        </div>
                                    </div>
                                    <ul class="child-comment">
                                        <li>
                                            <div class="d-block d-md-flex  width-100">
                                                <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                                    <img src="http://placehold.it/149x149" class="rounded-circle width-85 sm-width-100" alt="" />
                                                </div>
                                                <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                                    <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Alexander Harvard</a>
                                                    <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Хариулах</a>
                                                    <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">2020, ОНЫ 7 САРЫН 17 , 6:05 PM</div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="d-block d-md-flex  width-100">
                                        <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                            <img src="http://placehold.it/149x149" class="rounded-circle width-85 sm-width-100" alt=""/>
                                        </div>
                                        <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                            <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Jennifer Freeman</a>
                                            <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Хариулах</a>
                                            <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">2020, ОНЫ 7 САРЫН 17 , 6:05 PM</div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div class="col-12 margin-eight-top" id="comments">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div>
                        <div class="col-12 d-flex flex-wrap p-0">
                            <div class="col-12 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">сэтгэгдэл үлдээх</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="text" placeholder="Нэр *" class="medium-input">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="text" placeholder="Цахим хаяг *" class="medium-input">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="url" placeholder="Холбогдох утас *" class="medium-input">
                            </div>
                            <div class="col-12">
                                <textarea placeholder="Сэтгэгдэлээ энд бичнэ үү.." rows="8" class="medium-textarea"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-dark-gray btn-small margin-15px-top" type="submit">сэтгэгдэл үлдээх</button>
                            </div>
                        </div> -->
                    </main> 
                    <aside class="col-12 col-lg-3 float-right">
                        <!-- <div class="d-inline-block width-100 margin-45px-bottom sm-margin-25px-bottom">
                            <form>
                                <div class="position-relative">
                                    <input type="text" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Хайх үгээ бичнэ үү...">
                                    <button type="submit" class="bg-transparent  btn position-absolute right-0 top-1"><i class="fas fa-search ml-0"></i></button>
                                </div>   
                            </form>
                        </div> -->
                        <div class="margin-50px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Биднийг дагаарай" %}</span></div>
                            <div class="social-icon-style-1 text-center">
                                <ul class="extra-small-icon">
                                    <li><a class="facebook" href="{{ global_settings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="{{ global_settings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="google" href="{{ global_settings.instagram }}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <!-- <li><a class="dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a class="linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Мэдээний төрөл" %}</span></div>
                            <ul class="list-style-6 margin-50px-bottom text-small">
                                {% for category in categories %}
                                {% comment %}
                                {% if category.cat_id is none %}
                                <li><a href="{% url 'news' %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                {% else %}
                                <li><a href="{% url 'news' cat_id=category.cat_id %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                {% endif %}
                                {% endcomment %}
                                {% if category.cat_id is none and 'mn' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is none and 'en' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' %}">{{ category.category_eng }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is not none and 'en' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' cat_id=category.cat_id %}">{{ category.category_eng }}</a><span>{{ category.news_count }}</span></li>
                                    {% elif category.cat_id is not none and 'mn' in LANGUAGE_CODE %}
                                    <li><a href="{% url 'news' cat_id=category.cat_id %}">{{ category.category }}</a><span>{{ category.news_count }}</span></li>
                                    {% endif %}
                                {% endfor %}
                                <!-- <li><a href="#">Сонин хачин</a><span>05</span></li> -->
                            </ul>   
                        </div>  
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Онцлох мэдээ" %}</span></div>
                            <ul class="latest-post position-relative">
                                {% for news in featured_news %}
                                <li class="media">
                                    <figure>
                                        <a href="{% url 'blog' slug=news.slug %}"><img src="{{ news.pic.url }}" alt=""></a>
                                    </figure>
                                    {% if 'mn' in LANGUAGE_CODE %}
                                    <div class="media-body text-small"><a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">{{ news.title }}</span></a> <span class="d-block text-medium-gray text-small">{{ news.published_date}}</span></div>
                                    {% else %}
                                    <div class="media-body text-small"><a href="{% url 'blog' slug=news.slug %}" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">{{ news.title_eng }}</span></a> <span class="d-block text-medium-gray text-small">{{ news.published_date}}</span></div>
                                    {% endif %}     
                                </li>
                                {% endfor %}
                                <!-- <li class="media">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="media-body text-small"><a href="#" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">eheheh</span></a> <span class="d-block text-medium-gray text-small">2020 ОНЫ 7 САРЫН 17 </span></div>
                                </li>
                                <li class="media">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="media-body text-small"><a href="#" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">eheheh</span></a> <span class="d-block text-medium-gray text-small">2020 ОНЫ 7 САРЫН 17 </span></div>
                                </li>
                                <li class="media">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="media-body text-small"><a href="#" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">eheheh</span></a> <span class="d-block text-medium-gray text-small">2020 ОНЫ 7 САРЫН 17 </span></div>
                                </li> -->
                            </ul>
                        </div>

                        <!-- <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Архив</span></div>
                            <ul class="list-style-6 margin-20px-bottom text-small">
                                <li><a href="#">2-р сарын 17, 2018</a><span>12</span></li>
                                <li><a href="#">2-р сарын 17, 2018</a><span>05</span></li>
                                <li><a href="#">2-р сарын 17, 2018</a><span>08</span></li>
                              
                            </ul>   
                        </div> -->
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>{% trans "Брошур авах" %}</span></div>
                            <div class="d-inline-block width-100">
                                <a href="{{ pdf_url }}" style="background: cornflowerblue;border: 0.1vw solid cornflowerblue;color: white;">{% trans "Боршуур авах" %}</a>
                            </div>
                        </div>
                        <div class="margin-45px-bottom sm-margin-25px-bottom">
                            <a href="#"><img src="images/menu-banner-01.png" alt="" class="width-100"/></a>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- end blog content section -->  
        <footer class="desktop-footer" id="desktop-footer">
            <img class="footer-bg" src="{{ global_settings.pic_footer.url }}" alt="footer building">
            <div class="inner-footer">
                <div class="footer-mini-info">
                    <img src="{{ global_settings.logo.url }}" alt="logo">
    
                    <div class="icons-container">
                        <a href="{{ global_settings.facebook }}"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ global_settings.instagram }}"><i class="fab fa-instagram"></i></a>
                        <a href="{{ global_settings.twitter }}"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="sub-pages-title">
                    <h3>{% trans "дэд хуудас" %}</h3>
                    <div class="sub-pages-list">
                        {% for page in subpages %}
                        {% if 'mn' in LANGUAGE_CODE %}
                        <a href="{% url 'subpage' sign=page.sign %}">
                            <p><i class="fas fa-angle-double-right"></i>{% trans page.title %}</p>
                        </a>
                        {% else %}
                        <a href="{% url 'subpage' sign=page.sign %}">
                            <p><i class="fas fa-angle-double-right"></i>{% trans page.title_eng %}</p>
                        </a>
                        {% endif %}
                        {% endfor %}
                        <a href="{% url 'news' %}">
                            <p><i class="fas fa-angle-double-right"></i>мэдээ мэдээлэл</p>
                        </a>
                    </div>
                </div>
                <div class="footer-contact-us">
                    <h3>{% trans "Бидний хаяг" %}</h3>
                    <div class="inner-footer-contact-us">
                        <div class="inner-footer-contact-us-text">
                            <p><i class="fas fa-phone-alt"></i>{{ global_settings.phone }}</p>
                            <p><i class="far fa-envelope"></i>{{ global_settings.mail }}</p>
                            {% if 'mn' in LANGUAGE_CODE %}
                            <p><i class="fas fa-map-marker-alt"></i>{{ global_settings.location }}
                            {% else %}
                            <p><i class="fas fa-map-marker-alt"></i>{{ global_settings.location_eng }}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-contact-us-form" id="contactUsFooter">
                    <h3>{% trans "Бидэнтэй холбогдох" %}</h3>
                    <div class="inner-footer-contact-us-form">
                        <form action="">
                            <div class="contact-us-form-left">
                                <div class="contact-us-input-field">
                                    <i class="fas fa-user-tie"></i>
                                    <input id="name-contact-footer" type="text" placeholder="{% trans 'Нэр' %}">
                                </div>
                                <div class="contact-us-input-field">
                                    <i class="fas fa-paper-plane"></i>
                                    <input id="mail-contact-footer" type="email" placeholder="{% trans 'Цахим хаяг' %}">
                                </div>
                                <div class="contact-us-input-field">
                                    <i class="fas fa-briefcase"></i>
                                    <input id="company-contact-footer" type="text" placeholder="{% trans 'Компани' %}">
                                </div>
                                <input id="submit-contact-footer" type="submit" value="Илгээх">
                            </div>
                            <div class="contact-us-form-right">
                                <textarea name="" id="message-contact-footer" cols="30" rows="10"
                                    placeholder="{% trans 'Энд бичнэ үү..' %}"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </body>
         
{% endblock %}

{% block js %}
      <script src="{% static 'js_libraries/scrollmagic.js' %}"></script>
      <script src="{% static 'js_libraries/scrollmagicIndicator.js' %}"></script>

      <script>
          $(document).ready(function () {
              $('#submit-contact').on("click", function () {
                  console.log("asdasdasdasdasd")
                  var name = $('#name-contact').val();
                  var email = $('#mail-contact').val();
                  var company = $('#company-contact').val();
                  var text = $('#message-contact').val();
  
                  $.ajax({
                      method: 'post',
                      url: "{% url 'register-contact-request' %}",
                      data: {
                          name: name,
                          email: email,
                          company: company,
                          text: text
                      },
                      success: function (message) {
                          // alert('success');
                          closeContactUsForm();
                          $('#name-contact').val('');
                          $('#mail-contact').val('');
                          $('#company-contact').val('');
                          $('#message-contact').val('');
                      },
                      error: function (message) {
                          alert('Дахин оролдоно уу...');
                      },
                  });
              });
              $('#submit-contact-footer').on("click", function () {
                  console.log("asdasdasdasdasd")
                  var name = $('#name-contact-footer').val();
                  var email = $('#mail-contact-footer').val();
                  var company = $('#company-contact-footer').val();
                  var text = $('#message-contact-footer').val();
  
                  $.ajax({
                      method: 'post',
                      url: "{% url 'register-contact-request' %}",
                      data: {
                          name: name,
                          email: email,
                          company: company,
                          text: text
                      },
                      success: function (message) {
                          // alert('success');
                          closeContactUsForm();
                          $('#name-contact-footer').val('');
                          $('#mail-contact-footer').val('');
                          $('#company-contact-footer').val('');
                          $('#message-contact-footer').val('');
                      },
                      error: function (message) {
                          alert('Дахин оролдоно уу...');
                      },
                  });
              });
          });
    </script>

    <script type="text/javascript">
        function showMobileNav() {
            document.getElementById("mobileNav").classList.toggle("showMobileNav");
            document.getElementById("menuBarIcon").classList.toggle("whiteMenuBar")
        }
        function splitter(code) {
            var sppath = '{{ request.path }}'.split('/');
            var hrefpath = '/' + code;
            if(sppath[1] == 'en' || sppath[1] == 'mn') {
                for(var i = 2; i < sppath.length; i++) hrefpath += '/' + sppath[i]; 
            }
            else {
                hrefpath += '/' + sppath[1]
            }
            document.getElementsByClassName("hrefer")[0].setAttribute("href", hrefpath)
            document.getElementsByClassName("hrefer")[1].setAttribute("href", hrefpath)
            document.getElementsByClassName("hrefer")[2].setAttribute("href", hrefpath)
            document.getElementsByClassName("hrefer")[3].setAttribute("href", hrefpath)
            // alert(sppath)
        }
</script>
{% endblock %}