<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Барилгын төлөвлөлт</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="inner-building-structure">
        <div class="building-structure-cards-container">
            <div class="bs-long-card">
                <img src="./b-structure.png" alt="structure">
                <div class="bs-long-card-description">
                    <h3>Барилгын төлөвлөлт </h3>
                    <p>New Horizons төсөл нь Улаанбаатар хотын бизнесийн төв болох Олимпийн гудамжинд 
                        таны бүхий л хэрэгцээг хангах ресторан банк кофе шоп зэргийг 1-5 давхартаа байршуулан 
                        мөн 6-15 давхаруудаа оффисын зориулалтаар ашиглахад бэлэн болоод байна. 
                        Төсөл маань нийтдээ 15 давхар мөн 58 метрийн өндөртэй бөгөөд Улаанбаатар хотын 
                        шилдэг барилга байгууламжуудын нэг юм.
                    </p>
                </div>
            </div>
            <div class="bs-right-iconed-card">
                <div class="inner-iconed-card-left-side">
                    <h3>Тав тух</h3>
                    <p>Офисоо өөрийн хүссэнээрээ байгуулах боломжтой 
                        Dynamic шал мөн торох зүйлгүй харагдах орчин,
                         3 давхар LOWE шилэн хана зэрэг нь тав тухай ажиллах
                          нөхцөлийг бүрдүүлнэ.
                    </p>
                </div>
                <div class="inner-iconed-card-right-side">
                    <div class="iconed-little-card">
                        <img src="./security.png" alt="icon">
                        <p>
                            24 цагын харуул хамгаалалт мөн төслийн
                             SRC бүтээц зэрэг нь таны болон таны
                              бизнесийн аюулгүй байдал 
                        </p>
                    </div>
                    <div class="iconed-little-card">
                        <img src="./toolbox.png" alt="icon">
                        <p>
                            24 цагын харуул хамгаалалт мөн төслийн
                             SRC бүтээц зэрэг нь таны болон таны
                              бизнесийн аюулгүй байдал 
                        </p>
                    </div>
                    <div class="iconed-little-card">
                        <img src="./wifi.png" alt="icon">
                        <p>
                            24 цагын харуул хамгаалалт мөн төслийн
                             SRC бүтээц зэрэг нь таны болон таны
                              бизнесийн аюулгүй байдал 
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="bs-long-card bs-long-reverse">
                <img src="./b-structure.png" alt="structure">
                <div class="bs-long-card-description">
                    <h3>Барилгын төлөвлөлт </h3>
                    <p>New Horizons төсөл нь Улаанбаатар хотын бизнесийн төв болох Олимпийн гудамжинд 
                        таны бүхий л хэрэгцээг хангах ресторан банк кофе шоп зэргийг 1-5 давхартаа байршуулан 
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>