{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block cssPackage %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'js_libraries/fontawesome.js' %}" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block bodyClass %} get-body-cursor guide-body {% endblock %}

{% block content %}
    <header class="guide-desktop-header">
        <div class="inner-header">
            <div class="__left">
                <div class="desktop-logo-container">
                      <img src="{{ global_settings.logo.url }}" alt="logo" height="60">
                </div>
                <nav class="desktop-nav">

                    <li><a href="{% url 'home' %}">{% trans "нүүр" %}</a></li>
                            
                    <li><a href="{% url 'home' %}#buildingFeature">{% trans "Давуу тал" %}</a></li>

                    <li><a href="{% url 'home' %}#miniBlog">{% trans "Сүүлийн үеийн мэдээ" %}</a></li>

                    <li><a href="{% url 'home' %}#buildingIntro">{% trans "Танилцуулга" %}</a></li>

                    <li><a href="{% url 'home' %}#service">{% trans "Үйлчилгээ" %}</a></li>

                    <li><a href="{% url 'home' %}#floorInfo">{% trans "Давхарийн мэдээлэл" %}</a></li>

                    <li><a href="{% url 'home' %}#sevenReason">{% trans "Давуу тал" %}</a></li>
                            
                    <li><a href="{% url 'home' %}#panaromaSection">{% trans "360 зураг" %}</a></li>

                    <li><a href="{% url 'home' %}#nearbyPlaces">{% trans "Ойр хавийн барилгууд" %}</a></li>

                </nav>
            </div>
            <div class="__mid" onclick="showContactUsForm()">
                <a>{% trans "Бидэнтэй харилцах" %}</a>
            </div>
            <div class="__right">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}

              {% get_language_info_list for LANGUAGES as languages %}

              {% for lan in languages %}
              <div class="select-language"><a href="/{{ lan.code }}/">{{ lan.name_local }}</a></div>
              {% endfor %}
            </div>
        </div>
    </header>
    <header class="mobile-header">
        <div class="side-nav">
            <div onclick="showMobileNav()" class="menu-container">
                <i class="fas fa-bars menu-icon" id="mobileBarsIcon"></i>
            </div>
            <nav id="mobileNav" onclick="showMobileNav()">
                <img src="{{ global_setings.logo.url }}" alt="logo">

                <div class="contactUsAnchor"><a href="{% url 'home' %}#contactUsFooter">{% trans "Бидэнтэй харилцах" %}</a></div>

                <li><a href="{% url 'home' %}#home">{% trans "нүүр" %}</a></li>

                <li><a href="{% url 'home' %}#miniBlog">{% trans "Сүүлийн үеийн мэдээ" %}</a></li>

                <li><a href="{% url 'home' %}#buildingIntro">{% trans "танилцуулга" %}</a></li>

                <li><a href="{% url 'home' %}#service">{% trans "үйлчилгээ" %}</a></li>

                <li><a href="{% url 'home' %}#floorInfo">{% trans "давхарийн мэдээлэл" %}</a></li>

                <li><a href="{% url 'home' %}#sevenReason">{% trans "7 шалтгаан" %}</a></li>

                <li><a href="{% url 'home' %}#panaromaSection">{% trans "360 зураг" %}</a></li>

                <li><a href="{% url 'home' %}#nearbyPlaces">{% trans "Ойр хавийн барилгууд" %}</a></li>
            

                <div class="__right">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}

                {% get_language_info_list for LANGUAGES as languages %}

                {% for lan in languages %}
                <a href="/{{ lan.code }}/">{{ lan.name_local }}</a>
                {% endfor %}
                </div>
            </nav>
        </div>
    </header>


    <!-- HOME1 HEADER END -->
    <div class="contact-us-form" id="contactUsForm">
        <div class="inner-contact-us-form">
            <div class="contact-us-close-button" onclick="closeContactUsForm()">
                <i class="fas fa-times"></i>
            </div>
            <form action="">
                <div class="contact-us-input-field">
                    <i class="fas fa-user-tie"></i>
		    <input id="name-contact" type="text" placeholder="{% trans 'Нэр' %}">
                </div>
                <div class="contact-us-input-field">
                    <i class="fas fa-paper-plane"></i>
		    <input id="mail-contact" type="email" placeholder="{% trans 'Цахим хаяг' %}">
                </div>
                <div class="contact-us-input-field">
                    <i class="fas fa-briefcase"></i>
		    <input id="company-contact" type="text" placeholder="{% trans 'Компани' %}">
                </div>
		<textarea name="" id="message-contact" cols="30" rows="10" placeholder="{% trans 'Энд бичнэ үү..' %}"></textarea>
		<input id="submit-contact" type="submit" value="{% trans 'Илгээх' %}">
            </form>
        </div>
    </div>
    
    <section class="guide-section">
        <div class="home-img1-container">
            <div class="get-information">
                <a href="{{ pdf_url.pdf }}" class="get-information-inner">
		  <p>{% trans "Танилцуулга авах" %}</p>
                </a>
            </div>
            <img src="{{ global_settings.pic_day.url }}" alt="building image" width="100">
        </div>
        <div class="home-img2-container">
            <img src="{{ global_settings.pic_night.url }}" alt="building image 2" width="100">
            <div class="guide-middle-line">
                <div class="inner-middle-line"></div>
            </div>
            <div class="effected-get-information">
                <div class="info-container">
                    <a href="{{ pdf_url.pdf }}" class="get-information-inner">
		      <p>{% trans "Танилцуулга авах" %}</p>
                    </a>
                </div>
            </div>
        </div>
        <ul class="sub-pages">
            {% for page in sub_pages %}
            <li><a href="{% url 'subpage' sign=page.sign %}">{% trans page.title %}</a></li>
            {% endfor %}
            <li><a href="{% url 'news' %}">{% trans "Мэдээ мэдээлэл" %}</a></li>
        </ul>
    </section>
{% endblock %}


{% block js %}
  <script src="{% static 'guide.js' %}"></script>
  <script>
      $(document).ready(function () {
          $('#submit-contact').on("click", function () {
              console.log("asdasdasdasdasd")
              var name = $('#name-contact').val();
              var email = $('#mail-contact').val();
              var company = $('#company-contact').val();
              var text = $('#message-contact').val();

              $.ajax({
                  method: 'post',
                  url: "{% url 'register-contact-request' %}",
                  data: {
                      name: name,
                      email: email,
                      company: company,
                      text: text
                  },
                  success: function (message) {
                      // alert('success');
                      closeContactUsForm();
                      $('#name-contact').val('');
                      $('#mail-contact').val('');
                      $('#company-contact').val('');
                      $('#message-contact').val('');
                  },
                  error: function (message) {
                      alert('Дахин оролдоно уу...');
                  },
              });
          });
      });
  </script>
{% endblock %}
