{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!------------------------SWIPER JS-------------------------->
    <link rel="stylesheet" href="{% static 'swiperjs.css' %}">
    <!------------------------SWIPER JS-------------------------->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js_libraries/fontawesome.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js_libraries/jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!----------------------------360 photo library------------------------>
</head>

<body class="home-body" id="homeBody">
    {{ rent.value }}
    <!--------------------------HOME1 HEADER-----------------------------> 


    <header class="home-desktop-header" id="desktopHeader">
        <div class="header-inner">
            <div class="__left">
                <div class="desktop-logo-container">
                    <img src="{{ global_settings.logo.url }}" alt="logo">
                </div>
                <nav class="desktop-nav">

                    <li><a href="{% url 'home' %}#home">нүүр</a></li>

                    <li><a href="{% url 'home' %}#miniBlog">Сүүлийн үеийн мэдээ</a></li>

                    <li><a href="{% url 'home' %}#buildingIntro">танилцуулга</a></li>

                    <li><a href="{% url 'home' %}#service">үйлчилгээ</a></li>

                    <li><a href="{% url 'home' %}#floorInfo">давхарийн мэдээлэл</a></li>

                    <li><a href="{% url 'home' %}#sevenReason">Давуу тал</a></li>

                    <li><a href="{% url 'home' %}#panaromaSection">360 зураг</a></li>

                    <li><a href="{% url 'home' %}#nearbyPlaces">Ойр хавийн барилгууд</a></li>

                </nav>
            </div>
            <div class="__mid">
                <a href="{% url 'home' %}#desktop-footer">Бидэнтэй холбогдох</a>
            </div>
            <div class="__right">
                <div class="select-language"><a href="#">mn</a></div>
                <div class="select-language"><a href="#">en</a></div>
            </div>
        </div>
    </header>
    <header class="mobile-header">
        <div class="side-nav">
            <div onclick="showMobileNav()" class="menu-container">
                <i class="fas fa-bars menu-icon" id="mobileBarsIcon"></i>
            </div>
            <nav id="mobileNav" onclick="showMobileNav()">
                <img src="{% static 'assets/nh_logo.png' %}" alt="logo">

                <div class="contactUsAnchor"><a href="{% url 'home' %}#contactUsFooter">Бидэнтэй холбогдох</a></div>

                <li><a href="./home.html#home">нүүр</a></li>

                <li><a href="{% url 'home' %}#miniBlog">Сүүлийн үеийн мэдээ</a></li>

                <li><a href="./home.html#buildingIntro">танилцуулга</a></li>

                <li><a href="./home.html#service">үйлчилгээ</a></li>

                <li><a href="./home.html#floorInfo">давхарийн мэдээлэл</a></li>

                <li><a href="./home.html#sevenReason">7 шалтгаан</a></li>

                <li><a href="./home.html#panaromaSection">360 зураг</a></li>

                <li><a href="./home.html#nearbyPlaces">Ойр хавийн барилгууд</a></li>
                <div class="__right">
                    <a href="#">mn</a>
                    <a href="#">en</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="send-information" id="sendInformationForm">

        <form class="inner-send-information">
            <div class="close-button" onclick="hideSendInformationForm()"></div>
            <div class="group">
                <input type="email"><span class="highlight"></span><span class="bar"></span>
                <label>Цахим хаяг</label>
            </div>
            <button type="button" class="button buttonBlue">Илгээх
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
    </div>
    <div class="contact-us-form" id="contactUsForm">
        <div class="inner-contact-us-form">
            <div class="contact-us-close-button" onclick="closeContactUsForm()">
                <i class="fas fa-times"></i>
            </div>
            <form action="">
                <div class="contact-us-input-field">
                    <i class="fas fa-user-tie"></i>
                    <input type="text" placeholder="Нэр">
                </div>
                <div class="contact-us-input-field">
                    <i class="fas fa-paper-plane"></i>
                    <input type="email" placeholder="Цахим хаяг">
                </div>
                <div class="contact-us-input-field">
                    <i class="fas fa-briefcase"></i>
                    <input type="text" placeholder="Компани">
                </div>
                <textarea name="" id="" cols="30" rows="10" placeholder="Энд бичнэ үү.."></textarea>
                <input type="submit" value="Илгээх">
            </form>
        </div>
    </div>
    <!--------------------------HOME1 HEADER END----------------------------->
    <section class="home-section" id="home">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for obj in home_sliders %}
                <div class="swiper-slide">
                    <div class="inner-swiper-slide">
                        <img src="{{ obj.background_pic.url }}" alt="building">
                        <p>{{ obj.text_lil }}</p>
                        <h3>{{ obj.title }}</h3>
                        <!-- <p></p> -->
                        {% if obj.choice1 %}
                        <a href="{{ pdf_url }}">Боршуур авах</a>
                        {% elif obj.choice2 %}
                        <a href="#" onclick="showContactUsForm()">Бидэнтэй холбогдох</a>
                        {% elif obj.choice3 %}
                        <a href="{% url 'home' %}#floorInfo">Давхарын мэдээлэл</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
               
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <section class="building-features-section" id="buildingFeature">
        <div class="inner-features">
            <div class="feature-card">
                <i class="far fa-building"></i>
                <p>{{ feature_boxes.box1_title }}</p>
                <p>{{ feature_boxes.box1_text }}</p>
            </div>
            <div class="feature-card">
                <i class="far fa-building"></i>
                <p>{{ feature_boxes.box2_title }}</p>
                <p>{{ feature_boxes.box2_text }} </p>
            </div>
            <div class="feature-card">
                <i class="far fa-building"></i>
                <p>{{ feature_boxes.box3_title }}</p>
                <p>
                    <p>{{ feature_boxes.box3_text }}</p>
            </div>
            <div class="feature-card">
                <i class="far fa-building"></i>
                <p>{{ feature_boxes.box4_title }}</p>
                <p>
                    <p>{{ feature_boxes.box4_text }}</p>
            </div>

        </div>
    </section>

    <section class="mini-blog-section" id="miniBlog">
        <div class="inner-mini-blog-section">
            <h3>Сүүлийн үеийн мэдээ</h3>
            <div class="mini-blog-cards-container">
                <a href="#" class="mini-blog-card">
                    <img src="{% static 'assets/horizon10.jpg' %}" alt="bulding photo">
                    <h4>New Horizons ашиглалтанд орлоо</h4>
                    <div class="blog-status">
                        <p><i class="fas fa-clock"></i>2020/7/20</p>
                        <p><i class="far fa-user"></i>Нийтэлсэн: 290</p>
                        <p><i class="far fa-comment"></i>2</p>
                    </div>
                    <hr>
                    <p class="little-article">Улаанбаатар хотын зүрхэн төвд байрлах орчин үеийн шийдэл,
                        чадварлаг менежмент, чанартай үйлчилгээ бүхий уг байгууламж нь таны бизнесийг
                        амжилтанд хөтлөх цогц бүрдэл юм. NEW HORIZONS газар хөдлөлтийг тэсвэрлэх чадалтай
                        хамгийн сүүлийн үеийн шилдэг технологи бүхий архитектурын ухаалаг шийдэл , ая тух
                        хангах нэмэлт үйлчилгээ, ашигтай байрлал нь компаний тань байр суурийг тодорхойлж,
                        ажиллагсдын тань урам зоригийг бадрааж, харилцагч, үйлчлүүлэгчдийг тань бишрүүлэх болно.
                    </p>
                </a>
                <a href="#" class="mini-blog-card">
                    <img src="{% static 'assets/IMG_7249.JPG' %}" alt="bulding photo">
                    <h4>Улаанбаатар хотын шилдэг байгууламж</h4>
                    <div class="blog-status">
                        <p><i class="fas fa-clock"></i>2020/7/20</p>
                        <p><i class="far fa-user"></i>Нийтэлсэн: 290</p>
                        <p><i class="far fa-comment"></i>25</p>
                    </div>
                    <hr>
                    <p class="little-article">"ХАН" ХХК нь ISO 9001,ISO 14001,ОНSAS 18001 стандартуудыг хангасан
                        Хөрөнгийн менежментийн үйлчилгээг үзүүлнэ.
                    </p>
                </a>
                <a href="#" class="mini-blog-card">
                    <img src="{% static 'assets/IMG_7256.JPG' %}" alt="bulding photo">
                    <h4>New Horizons ашиглалтанд орлоо
                    </h4>
                    <div class="blog-status">
                        <p><i class="fas fa-clock"></i>2020/7/20</p>
                        <p><i class="far fa-user"></i>Нийтэлсэн: 290</p>
                        <p><i class="far fa-comment"></i>25</p>
                    </div>
                    <hr>
                    <p class="little-article">Агааржуулалт, агаар сэлгэлт, хөргөлтийн гурвалсан
                        системийг ашиглаж офисийн агвар дахь утаа, тоос, бактерийг устган ямагт
                        эрүүл цэвэр орчинг бүрдүүлнэ.
                    </p>
                </a>

            </div>
        </div>
    </section>

    <section class="building-introduction-section" id="buildingIntro">
        <div class="__left">
            <img src="{% static 'assets/horizon10.jpg' %}" alt="building photo1">
        </div>
        <div class="__right">
            <div class="intro-text">
                <h1>УЛААНБААТАР ХОТЫН ШИЛДЭГ БАЙГУУЛАМЖ</h1>
                <p>Улаанбаатар хотын зүрхэн төвд байрлах орчин үеийн шийдэл,
                    чадварлаг менежмент, чанартай үйлчилгээ бүхий уг байгууламж
                    нь таны бизнесийг амжилтанд хөтлөх цогц бүрдэл юм.
                    NEW HORIZONS газар хөдлөлтийг тэсвэрлэх чадалтай хамгийн
                    сүүлийн үеийн шилдэг технологи бүхий архитектурын ухаалаг
                    шийдэл , ая тух хангах нэмэлт үйлчилгээ, ашигтай байрлал нь
                    компаний тань байр суурийг тодорхойлж, ажиллагсдын тань урам
                    зоригийг бадрааж, харилцагч, үйлчлүүлэгчдийг тань бишрүүлэх
                    болно. "ХАН" ХХК нь ISO 9001,ISO 14001,ОНSAS 18001
                    стандартуудыг хангасан Хөрөнгийн менежментийн үйлчилгээг үзүүлнэ.</p>
            </div>
        </div>
    </section>

    <section class="services-section" id="service">
        <div class="__left">
            <ul class="service-lists-container">
                <!-- Leaseholders start -->
                {% for leaseholder in leaseholders %}
                <li class="service-title">
                    <div class="inner-service-title"> {{ leaseholder.category}} </div>
                    <div class="sub-service-list-container">
                        {% for i in leaseholder.leaseholder %}
                        <a class='leaseholder-name' href="{% url 'home' company=i %}#service">{{ i }}</a>
                        <!-- <a href="#">Lorem ipsum dolwaeoifjjoro weoifoj</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a> -->
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}

                <!-- <script>
                    $(document).ready(function () {
                        $('.leaseholder-name').click(function() {
                            var name = $(this).text();
                            alert(name);
                            $('.swiper-wrapper').empty();
                            $('.swiper-pagination').empty();
                            $('.swiper-button-next').empty();
                            $('.swiper-button-prev').empty();
                            $('.swiper-wrapper').append($("<div></div>")
                                .attr('class', 'slide-left')
                            ).append($("<h3>dsjfkasdfkljahs</h3>")
                                    .attr('class', 'slide-left')  
                                );
                            // $.ajax({

                            // });
                        });
                    });
                </script> -->
                <!-- Leaseholders end -->
                <!-- <li class="service-title">
                    <div class="inner-service-title">Ресторан</div>
                    <div class="sub-service-list-container">
                        <a href="#">Хаан банк</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                </li>
                <li class="service-title">
                    <div class="inner-service-title">Даатгал</div>
                    <div class="sub-service-list-container">
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                </li>

                <li class="service-title">
                    <div class="inner-service-title">Фитнесс клуб</div>
                    <div class="sub-service-list-container">
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                </li>
                <li class="service-title">
                    <div class="inner-service-title">Худалдааны газар</div>
                    <div class="sub-service-list-container">
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                </li>
                <li class="service-title">
                    <div class="inner-service-title">Албан байгууллага</div>
                    <div class="sub-service-list-container">
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="__right">
            <div class="swiper-container-two">
                <div class="swiper-wrapper" id="getPictures">
                    <!-- Slider object -->
                    {% for obj in lesaeholder_slider %}
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>{{ obj.title }}</h3>
                            <p> {{ obj.desc }}
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{{ obj.pic.url }}" alt="slide photo">
                        </div>
                    </div>
                    {% endfor %}
                   
                    <!-- Slider object end -->
                    <!-- DUMMY SLIDER OBJECT -->
                    <!-- <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_7256.JPG' %}" alt="slide photo">

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_7256.JPG' %}" alt="slide photo">

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_7256.JPG' %}" alt="slide photo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_72491.jpg' %}" alt="slide photo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_72491.jpg' %}" alt="slide photo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_72491.jpg' %}" alt="slide photo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-left">
                            <h3>diverse solution</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quo dolores similique dolore in sit placeat incidunt
                                laboriosam nostrum ipsum obcaecati.
                            </p>
                        </div>
                        <div class="slide-right">
                            <img class="get-photos" src="{% static 'assets/IMG_72491.jpg' %}" alt="slide photo">
                        </div>
                    </div> -->
                    <!-- DUMMY SLIDER OBJECT END -->


                </div>
                <div class="slider-component-container">
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </section>

    <section class="floor-informations" id="floorInfo">
        <img src="{% static 'assets/horizon10.jpg' %}" alt="building" class="floor-section-bg">
        <div id="unvisibleList"></div>
        <div class="floors-container" id="floorContainer">
            <ul>
                <li><span>f</span>15
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                        <div class="inner-floor-icon-container">
                            <p>haanbank</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>14
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>13
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>12
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>11
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>10
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>9
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>8
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>7
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>ХААН банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>6
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>5
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>4
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>3
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>2
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li><span>f</span>1
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
                <li>b1
                    <div class="floor-icon-container">
                        <div class="inner-floor-icon-container">
                            <p>хаан банк</p>
                            <img src="{% static 'assets/haanbank.png' %}" alt="haan bank">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="plan-photos-container" id="planPhotosContainer" onclick="showFixedInfo()">
            <div class="plan-photo-hover">ҮЗЭХ</div>

            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan2-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/plan1-clear.png' %}" alt="floor one svg">
            <img src="{% static 'assets/plan_images/b1.png' %}" alt="floor one svg">

        </div>

        <script>

        </script>
        <div class="plan-photos-fullscreen-info" id="planPhotoInfo">
            <div class="close-button" onclick="closeFixedInfo()"></div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan7-8-9-10-11-12-13-14-15-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/plan-3-4-5-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/plan2-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/plan1-clear.png' %}" alt="floor one svg">
                </div>
            </div>
            <div class="invisible-plan-photo-info">
                <div class="inner-plan-photo-info">
                    <div class="photo-description">
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore, nihil voluptatum dolorem harum dolore itaque
                            est corrupti eligendi sint dicta molestiae officiis
                            accusamus atque distinctio quos facere consequatur,
                            esse placeat.
                        </p>
                    </div>
                    <img src="{% static 'assets/plan_images/b1.png' %}" alt="floor one svg">

                </div>
            </div>


        </div>

    </section>
    {% if reason_boxes%}
    <section class="seven-reason-section" id="sevenReason">
        <h3>new horizon ОФИСИЙГ СОНГОХ 7 ШАЛТГААН</h3>
        <div class="top-section">
            <div class="reason-card">
                <i class="fas fa-location-arrow"></i>
                <div>
                    <h4>{{ reason_boxes.box1_title }}</h4>
                    <p>
                        {{ reason_boxes.box1_text}}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-award"></i>
                <div>
                    <h4>{{ reason_boxes.box2_title }}</h4>
                    <p>
                        {{ reason_boxes.box2_text }}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-tools"></i>
                <div>
                    <h4>{{ reason_boxes.box3_title }}</h4>
                    <p>
                        {{ reason_boxes.box3_text }}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-hard-hat"></i>
                <div>
                    <h4> {{ reason_boxes.box4_title }}</h4>
                    <p>
                        {{ reason_boxes.box4_text }}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-wind"></i>
                <div>
                    <h4> {{ reason_boxes.box5_title }}</h4>
                    <p>
                        {{ reason_boxes.box5_text }}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-tree"></i>
                <div>
                    <h4>{{ reason_boxes.box6_title }}</h4>
                    <p>
                        {{ reason_boxes.box6_text }}
                    </p>
                </div>
            </div>
            <div class="reason-card">
                <i class="fas fa-tasks"></i>
                <div>
                    <h4>{{ reason_boxes.box7_title }}</h4>
                    <p>
                        {{ reason_boxes.box7_text }}
                    </p>
                </div>
            </div>
        </div>

    </section>
    {% endif %}

    <section class="panaroma-picture-section" id="panaromaSection">
        <h3>360 зураг</h3>
        <div class="blured-360" id="bluredPanaroma">
            <img src="{% static 'assets/360_one.jpg' %}" alt="blured 360">
            <p onclick="showPanaroma()">360 зураг үзэх</p>
        </div>
    </section>

    <section class="nearby-place-section" id="nearbyPlaces">
        <div class="inner-nearby-place">
            <h3>ойр байрлах байгууламж</h3>
            <div class="google-map-container" id="googleMapContainer">
                <div class="places-list">
                    <ul id="listOfMarkers">
                        <li><a id="busStation"> <b>Автобусны буудал</b></a></li>
                        <li><a id="government"><b>Улсын байгууллага</b></a></li>
                        <li><a id="medical"><b>Эмнэлэг</b></a></li>
                        <li><a id="business"><b>Бизнесийн байгууллага</b></a></li>
                    </ul>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </section>

    <footer class="desktop-footer" id="desktop-footer">
        <img class="footer-bg" src="{% static 'assets/IMG_72561.jpg' %}" alt="footer building">
        <div class="inner-footer">
            <div class="footer-mini-info">
                <img src="{% static 'assets/nh_logo.png' %}" alt="logo">

                <div class="icons-container">
                    <a href="{{ global_settings.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ global_settings.instagram }}"><i class="fab fa-instagram"></i></a>
                    <a href="{{ global_settings.twitter }}"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="sub-pages-title">
                <h3>дэд хуудас</h3>
                <div class="sub-pages-list">
                    <a href="#">
                        <p><i class="fas fa-angle-double-right"></i>барилгын төлөвлөлт</p>
                    </a>
                    <a href="#">
                        <p><i class="fas fa-angle-double-right"></i>Аюулгүй байдал</p>
                    </a>
                    <a href="#">
                        <p><i class="fas fa-angle-double-right"></i>тав тух</p>
                    </a>
                    <a href="#">
                        <p><i class="fas fa-angle-double-right"></i>мэдээ мэдээлэл</p>
                    </a>
                    <a href="#">
                        <p><i class="fas fa-angle-double-right"></i>хамт олон</p>
                    </a>
                </div>
            </div>
            <div class="footer-contact-us">
                <h3>Бидэнтэй холбогдох</h3>
                <div class="inner-footer-contact-us">
                    <div class="inner-footer-contact-us-text">
                        <p><i class="fas fa-phone-alt"></i>+976 99999999</p>
                        <p><i class="far fa-envelope"></i>uuganbat.dev@gmail.com</p>
                        <p><i class="fas fa-map-marker-alt"></i>Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Odio,
                            officia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-contact-us-form" id="contactUsFooter">
                <h3>Бидэнтэй харилцах</h3>
                <div class="inner-footer-contact-us-form">
                    <form action="">
                        <div class="contact-us-form-left">
                            <div class="contact-us-input-field">
                                <i class="fas fa-user-tie"></i>
                                <input id="name-contact" type="text" placeholder="Нэр">
                            </div>
                            <div class="contact-us-input-field">
                                <i class="fas fa-paper-plane"></i>
                                <input id="mail-contact" type="email" placeholder="Цахим хаяг">
                            </div>
                            <div class="contact-us-input-field">
                                <i class="fas fa-briefcase"></i>
                                <input id="company-contact" type="text" placeholder="Компани">
                            </div>
                            <input id="submit-contact" type="submit" value="Илгээх">
                        </div>
                        <div class="contact-us-form-right">
                            <textarea name="" id="message-contact" cols="30" rows="10" placeholder="Энд бичнэ үү.."></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>


    <!------------------------GSAP onscroll-------------------------->
    <script src="{% static 'js_libraries/scrollmagic.js' %}"></script>
    <script src="{% static 'js_libraries/scrollmagicIndicator.js' %}"></script>
    <!------------------------GSAP onscroll END-------------------------->
    <!------------------------SWIPER JS-------------------------->
    <script src="{% static 'js_libraries/swiper.js' %}"></script>
    <script src="{% static 'home.js' %}"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm1tPYEg_dlAcUQ1PZ4vbCtgGMJNjm4jE&callback=initMap">
    </script>
    <!------------------------SWIPER JS-------------------------->
    <script>
        function showPanaroma() {
            document.getElementById("bluredPanaroma").classList.toggle("removeBlur");
            var iframe = document.createElement("iframe");
            iframe.setAttribute("src", "{% url 'panaroma' %}");
            document.getElementById("panaromaSection").appendChild(iframe);
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#submit-contact').on("click", function () {
                var name = $('#name-contact').val();
                var email = $('#mail-contact').val();
                var company = $('#company-contact').val();
                var text = $('#message-contact').val();

                $.ajax({
                    method: 'post',
                    url: "{% url 'register-contact-request' %}",
                    data: {
                        name: name,
                        email: email,
                        company: company,
                        text: text
                    },
                    success: function (message) {
                        alert(message);
                    },
                    error: function (message) {
                        alert('error: ' + message);
                    },
                });
            });
        });
    </script>
</body>

</html>