{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media }}
<style>
    body {  
    }

    .floors-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .floors {
        height: 10vw;
        width: 12vw;
        padding: 0;
        position: relative;
        margin: 1vw 2vw;
        user-select: none;
    }

    .floor-number {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        font-weight: bold;
        color: black;
        z-index: -1;
    }

    .floors img {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .inner-floors {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .floor-checkbox {
        width: 50%;
        height: 100%;
        position: relative;
        opacity: 0;
        display: block !important;
    }

    .floor-checkbox:after {
        content: "sda";
    }

    .inner-floors .sda {
        opacity: 1;
    }

    .inner-floors label {
        width: 50%;
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
    }

    .inner-floors label:nth-child(even) {
        right: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("label").click(function () {
            $(this).toggleClass("sda");
        });
    });
</script>


{% endblock %}

{% block field_sets %}

<div class="floors-container">
    <div class="floors ">
        <div class="floor-number">1</div>
        <img src="{% static 'assets/plan_images/plan15.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor1_a"></label>
            <label name="vCheckboxLabel" for="id_floor1_b"></label>
            <input class="floor-checkbox" id="id_floor1_a" type="checkbox" name="floor1_a">
            <input class="floor-checkbox" id="id_floor1_b" type="checkbox" name="floor1_b">
        </div>
    </div>
    <div class="floors ">
        <div class="floor-number">2</div>
        <img src="{% static 'assets/plan_images/plan9_10_14.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor2_a"></label>
            <label name="vCheckboxLabel" for="id_floor2_b"></label>
            <input class="floor-checkbox" id="id_floor2_a" type="checkbox" name="floor2_a">
            <input class="floor-checkbox" id="id_floor2_b" type="checkbox" name="floor2_b">
        </div>
    </div>
    <div class="floors ">
        <div class="floor-number">3</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor3_a"></label>
            <label name="vCheckboxLabel" for="id_floor3_b"></label>
            <input class="floor-checkbox" id="id_floor3_a" type="checkbox" name="floor3_a">
            <input class="floor-checkbox" id="id_floor3_b" type="checkbox" name="floor3_b">
        </div>
    </div>
    <div class="floors ">
        <div class="floor-number">4</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor4_a"></label>
            <label name="vCheckboxLabel" for="id_floor4_b"></label>
            <input class="floor-checkbox" id="id_floor4_a" type="checkbox" name="floor4_a">
            <input class="floor-checkbox" id="id_floor4_b" type="checkbox" name="floor4_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">5</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor5_a"></label>
            <label name="vCheckboxLabel" for="id_floor5_b"></label>
            <input class="floor-checkbox" id="id_floor5_a" type="checkbox" name="floor5_a">
            <input class="floor-checkbox" id="id_floor5_b" type="checkbox" name="floor5_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">6</div>

        <img src="{% static 'assets/plan_images/plan9_10_14.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor6_a"></label>
            <label name="vCheckboxLabel" for="id_floor6_b"></label>
            <input class="floor-checkbox" id="id_floor6_a" type="checkbox" name="floor6_a">
            <input class="floor-checkbox" id="id_floor6_b" type="checkbox" name="floor6_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">7</div>

        <img src="{% static 'assets/plan_images/plan9_10_14.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor7_a"></label>
            <label name="vCheckboxLabel" for="id_floor7_b"></label>
            <input class="floor-checkbox" id="id_floor7_a" type="checkbox" name="floor7_a">
            <input class="floor-checkbox" id="id_floor7_b" type="checkbox" name="floor7_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">8</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor8_a"></label>
            <label name="vCheckboxLabel" for="id_floor8_b"></label>
            <input class="floor-checkbox" id="id_floor8_a" type="checkbox" name="floor8_a">
            <input class="floor-checkbox" id="id_floor8_b" type="checkbox" name="floor8_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">9</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor9_a"></label>
            <label name="vCheckboxLabel" for="id_floor9_b"></label>
            <input class="floor-checkbox" id="id_floor9_a" type="checkbox" name="floor9_a">
            <input class="floor-checkbox" id="id_floor9_b" type="checkbox" name="floor9_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">10</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor10_a"></label>
            <label name="vCheckboxLabel" for="id_floor10_b"></label>
            <input class="floor-checkbox" id="id_floor10_a" type="checkbox" name="floor10_a">
            <input class="floor-checkbox" id="id_floor10_b" type="checkbox" name="floor10_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">11</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor11_a"></label>
            <label name="vCheckboxLabel" for="id_floor11_b"></label>
            <input class="floor-checkbox" id="id_floor11_a" type="checkbox" name="floor11_a">
            <input class="floor-checkbox" id="id_floor11_b" type="checkbox" name="floor11_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">12</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor12_a"></label>
            <label name="vCheckboxLabel" for="id_floor12_b"></label>
            <input class="floor-checkbox" id="id_floor12_a" type="checkbox" name="floor12_a">
            <input class="floor-checkbox" id="id_floor12_b" type="checkbox" name="floor12_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">13</div>

        <img src="{% static 'assets/plan_images/plan3.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor13_a"></label>
            <label name="vCheckboxLabel" for="id_floor13_b"></label>
            <input class="floor-checkbox" id="id_floor13_a" type="checkbox" name="floor13_a">
            <input class="floor-checkbox" id="id_floor13_b" type="checkbox" name="floor13_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">14</div>

        <img src="{% static 'assets/plan_images/plan2.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor14_a"></label>
            <label name="vCheckboxLabel" for="id_floor14_b"></label>
            <input class="floor-checkbox" id="id_floor14_a" type="checkbox" name="floor14_a">
            <input class="floor-checkbox" id="id_floor14_b" type="checkbox" name="floor14_b">
        </div>
    </div>
    <div class="floors">
        <div class="floor-number">15</div>

        <img src="{% static 'assets/plan_images/plan1.png' %}" alt="floor one svg">
        <div class="inner-floors">
            <label name="vCheckboxLabel" for="id_floor15_a"></label>
            <label name="vCheckboxLabel" for="id_floor15_b"></label>
            <input class="floor-checkbox" id="id_floor15_a" type="checkbox" name="floor15_a">
            <input class="floor-checkbox" id="id_floor15_b" type="checkbox" name="floor15_b">
        </div>
    </div>
</div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
     
    <div class="submit-row">
      <input type="submit" value="X" name="_continue">
    </div>
{% endblock %}