{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media }}
<style>
    body {
        background-color: violet;
    }
    .form-row .vCheckboxLabel {
        display: none;
    }

    .form-row #id_floor3_a {
        background-color: green;
        background: url("{% static 'assets/horizon10.jpg' %}");
    }
</style>

<script>
    $(document).ready(function() {
        $("#id_floor3_a").change(function() {
            alert("afsa");
        });
    });
</script>
{% endblock %}